@import "tailwindcss";

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Ensure the custom class has a background color */
.weekend-cell {
  background-color: #f5f5f5 !important;
  height: 100%;
  width: 100%;
}


.e-work-cell1 {
  width: 750px !important;
  /* height: 150px !important; */
  background-color: #146fbe !important;
}

.e-schedule .e-month-view .e-work-cells.e-weekend,
.e-schedule .e-month-view .e-date-header.e-weekend {
  background-color: #fff2cc !important;
}

.e-schedule .e-weekend {
  background-color: #fff2cc !important;
}

/* ----------- TIMELINE CELL HEIGHT ------------ */
.schedule-cell-dimension .e-timeline-view .e-resource-left-td,
.schedule-cell-dimension .e-timeline-view .e-resource-cells,
.schedule-cell-dimension .e-timeline-view .e-work-cells {
  height: 60px !important;
  /* increase row height */
}

/* ----------- TIMELINE CELL WIDTH ------------ */
.schedule-cell-dimension .e-timeline-view .e-time-slots {
  min-width: 150px !important;
  /* width of each time slot */
}

.schedule-cell-dimension .e-timeline-view .e-content-table td {
  min-width: 150px !important;
  /* safe fallback */
}

.e-schedule .e-work-cells,
.e-schedule .e-all-day-cells {
  height: 60px !important;
  /* Cell Height */
}

.dec-16-holiday-cell {
  background-color: #7f0505 !important;
}

/* App.css */
/* Target the columns within the month view's content wrap */
.custom-month-view.e-schedule .e-month-view .e-content-wrap table col {
  /* Set a fixed width. Use !important to override default Syncfusion styles */
  width: 15px !important; 
}

/* If you also need to affect the header columns (optional, as they usually match the content width) */
.custom-month-view.e-schedule .e-month-view .e-date-header-wrap table col {
  width: 15px !important;
}


/* Timeline row height */
.e-schedule .e-timeline-view .e-content-wrap table tr {
  height: 120px !important; /* doubled */
}

/* Resource header must match */
.e-schedule .e-timeline-view .e-resource-cells {
  height: 120px !important;
}
.e-schedule .e-timeline-view .e-appointment {
  height: 36px !important;
  margin-top: 4px;
}

/* clone */
/* .e-schedul .e-drag-clone {
  background-color: rgba(222, 46, 23, 0.9) !important;
  border: 2px dashed #fdcb6e !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;
  opacity: 0.95;
  pointer-events: none; 
} */